@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron">
    <h2>PROJECT GREEN STORE</h2>
    <p1 class="lead">Green store project by GREENWORD (Phan Ngoc Tri)</p1>
    <p><button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Index", "Items")'">Click để đặt hàng &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>
    <br />
    <div class="col-md-4">
        <img src="~/Content/images/hanhla.jpeg" alt="Hành lá" width="200"
             height="100">
    </div>



</div>