@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Đặt hàng thành công</h2>
<p>Cảm ơn bạn đã mua sắm! Mã đơn hàng của bạn là : @Model</p>
<p>
    Tìm thêm
    @Html.ActionLink("sản phẩm","Index", "Home") khác
</p>

