@{
    ViewBag.Title = "Xác nhận Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cảm ơn bạn đã xác nhận.  @Html.ActionLink("Click vào đây để đăng nhập", "Đăng nhập", "Tài khoản", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
