@{
    ViewBag.Title = "Xác nhận thêm mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vui lòng check email
    </p>
    <p class="text-danger">
        Click vào <a href="@ViewBag.Link">đây</a> để đổi mật khẩu
    </p>
</div>

