@model GreenStore.Models.ApplicationUser

@{
    ViewBag.Title = "Xóa người dùng";
}

<h2>Xóa người dùng</h2>

<h3>Bạn có muốn xóa người dùng này?</h3>
<div>
    @*<h4>User.</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.UserName)*@ Tên người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
