@model GreenStore.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết người dùng</h2>

<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Danh sách vai trò trang</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Tài khoản không có quyền</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>



